.Box{
    position: absolute;
    width: 744px;
    height: 1000px;
    left: 0px;
    top: 72px;
    
    background: #FFFFFF;
    box-shadow: 0px 1.4945px 1.53979px rgba(0, 0, 0, 0.02), 0px 4.13211px 4.25733px rgba(0, 0, 0, 0.025), 0px 9.94853px 10.25px rgba(0, 0, 0, 0.03), 0px 33px 34px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    z-index: 1;
}