.Sloi2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.03%;
}

.Sloi4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.03%;
}

.Q1{
    position: absolute;
    left: 10.17%;
    right: 79.66%;
    top: 0%;
    bottom: 50.01%;
}
.Q2{
    position: absolute;
    left: 7.55%;
    right: 83.42%;
    top: 18.53%;
    bottom: 37.13%;
}
.Q3{
    position: absolute;
    left: 0%;
    right: 89.83%;
    top: 0%;
    bottom: 26.71%;
    
}
.Q4{
    position: absolute;
    left: 2.31%;
    right: 93.59%;
    top: 68.49%;
    bottom: 11.33%;
}
.Q5{
    position: absolute;
    left: 5.44%;
    right: 79.66%;
    top: 49.99%;
    bottom: 0.03%;
}