.Send{
    display: flex;
    flex-direction: row;
    padding: 8px 12px;
    
    position: absolute;
    width: 96px;
    height: 40px;
    left: 514px;
    top: 16px;

    background: linear-gradient(22.88deg, #FFA300 31.27%, #FFD1AA 100%);
    box-shadow: 0px 0px 0.892857px rgba(236, 124, 42, 0.12), 0px 1.19048px 1.78571px rgba(236, 124, 42, 0.18), 0px 2.67857px 4.16667px rgba(236, 124, 42, 0.2), 0px 4.7619px 8.92857px rgba(236, 124, 42, 0.3);
    border-radius: 29.7619px;
}

.sendText{
    position: static;
    width: 36px;
    height: 17px;
    left: 40px;
    top: 11.5px;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.04em;
    
    color: #3E445B;
    
    flex: none;
    order: 1;
    align-self: center;
    margin-left: 4px 0px;
}

.sendImg{
    position: static;
    width: 24px;
    height: 24px;
    top: 13px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 4px 0px;

    background-color: black;
}