.Header{
    position: absolute;
    width: 1600px;
    height: 80px;
    
    background: #FFFFFF;
    box-shadow: 0px 1.4945px 1.53979px rgba(0, 0, 0, 0.02), 0px 9.94853px 10.25px rgba(0, 0, 0, 0.03);
    z-index: 2;
}

.Account_Name{
    position: absolute;
    width: 101px;
    height: 17px;
    left: 1385px;
    top: 28px;

    /* header_tabular_gilroy 14 bold */
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.04em;

    /* color / balck */
    color: #3E445B;
}