@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('/Fonts/Gilroylight.woff2') format('woff2'), url('/Fonts/Gilroylight.woff') format('woff'), url('/Fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('/Fonts/Gilroyextrabold.woff2') format('woff2'), url('/Fonts/Gilroyextrabold.woff') format('woff'), url('/Fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.Account_Name{
    cursor: pointer;
    position: absolute;
    width: 101px;
    height: 17px;
    left: 1385px;
    top: 28px;

   
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
   
    letter-spacing: 0.04em;

   
    color: #3E445B;
}